.header{
    background-color: beige;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    border-bottom: 5px solid #f37a48;

    &__logo {
      background-image: url(../../assests/Logo/Logo.png);
      width: 12rem;
      height: 3rem;
      margin: 1rem 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 5rem;
      }
    
      &__nav {
        display: flex;
        flex: 1;  
        &--item {
          color: black;
          width: 44vw;
          height: 2.5rem;
          text-align: center;
          padding-top: 0.5rem;
          text-decoration: none;
          font-size: 0.9rem;
          margin: 1rem 0;
          width: 6.7rem;
          height: 2.3rem;
          padding-top: 0.45rem;
          
        }
    
        &--item:hover {
            border-bottom: 5px solid #f37a48;
        }
        &--button{
          background-color: #f37a48;
          color: #FFFF;
          border-radius: 0.25rem;
          border: none;
          height: 1.5rem;
          width: 4rem;
          margin-top: 1rem;
          text-decoration: none;
          text-align: center;
        
        }
    }
}