.description{
    display: flex;
    text-align: left;
    margin-left: 15rem;
    &__content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
.thumbnail{
    width: 60%;
    height: 20rem;
    justify-content: center;
}
.comments{
    text-align: center;
}

.form{
    &__input{
        display: inline;
        border: solid #E1E1E1;
        border-radius: 1rem;
        font-size: 0.875rem;
        height: 2rem;
        vertical-align: text-bottom;
        background-color: #FAFAFA;
        width: 50%;
    }
}