.description{
    display: flex;
    text-align: left;
    &__content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
.comments{
    text-align: center;
}