.uploadimg{
    width: 25%;
    height: 25%;
}

.btn{
    background-color: #f37a48;
    color: #FFFF;
    border-radius: 0.25rem;
    border: none;
    height: 1.5rem;
    width: 4rem;
    margin-top: 1rem;
    text-decoration: none;
}