.wholecontainer{
  padding-top: 1rem;
}
.sepform{
  padding-left: 2rem;
}
.uploadimg {
    width: 45%;
    height: 20rem;
    float: left;
  }
  
  .btn {
    background-color: #f37a48;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    text-align: center;
    height: 3rem;
    width: 10rem;
    margin-top: 1rem;
    text-decoration: none;
    display: block;
  }
  
.uploadform {
  &__input {
    display: flex;
    border: solid #e1e1e1;
    border-radius: 1rem;
    font-size: 0.875rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: #fafafa;
    width: 50%;
  }
  
  &__smallinput {
    display: inline;
    border: solid #e1e1e1;
    border-radius: 1rem;
    font-size: 0.875rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: #fafafa;
  }
  
  &__smalllabel {
    display: inline-block;
    vertical-align: super;
  }
  
    &__label {
      display: block;
    }

    &__btn-container {
      display: flex;
      justify-content: space-around;
    }
  }
  
  .cancelbtn {
    background-color: red;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    text-align: center;
    height: 3rem;
    width: 10rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .butn {
    background-color: #F37A48;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    text-align: center;
    height: 3rem;
    width: 10rem;
    margin-left: 20rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  