.uploadimg{
    width: 45%;
    height: 20rem;
    float: left;
}

.btn{
    background-color: #f37a48;
    color: #FFFF;
    border-radius: 0.25rem;
    border: none;
    text-align: center;
    height: 3rem;
    width: 10rem;
    margin-top: 1rem;
    text-decoration: none;
    display: block;
    text-decoration: none;
}
.uploadform {
    border: 0;
    width: 50%;
    padding-left: 2rem;
    padding-top: 5rem;
    margin-left: auto;
    margin-right: 2rem;

    &__fieldset {
      border: 0;

    }
    &__input{
        display: inline;
        border: solid #E1E1E1;
        border-radius: 1rem;
        font-size: 0.875rem;
        height: 2rem;
        vertical-align: text-bottom;
        background-color: #FAFAFA;
        width: 100%;
    }
    &__smallinput{
        display: inline;
        font-size: 0.875rem;
        height: 2rem;
        vertical-align: middle;
    }
    &__smalllabel{
        display: inline;
    }
    &__label{
        display: block;
    }
}