.outercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0;
    padding-top: 1rem;
  }
  
  .link {
    text-decoration: none;
    color: black;
    margin-right: 0;
  }
  
  .container {
    background: #ffffff;
    box-shadow: 0 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
    padding-bottom: 1rem;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
    text-decoration: none;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  
    &__img {
      width: 100%;
      height: 20rem;
      border-radius: 3%;
    }
  
    &__title {
      font-size: 1.5rem;
    }
  
    &__text {
      color: gray;
  
      &--important {
        color: red;
      }
    }
  
    &__secondary {
      display: flex;
      justify-content: space-evenly;
      flex: 1;
    }
  }
  