.background{
    background-image: url(../../assests//Images/TTRPGS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 65rem;
    margin: 0;
    padding: 0;
}
.homepage{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15rem;
    &__title{
        font-weight: 700;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-top: 0rem;
        color: white;
    }
    &__button{
        background-color: #f37a48;
        box-shadow: 0 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
        border: none;
        color: white;
        padding: 0.4rem 1rem 0.4rem 1rem;
        text-align: center;
        text-decoration: none;
        font-size: 3rem;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 1rem;
        margin-top: 5rem;
    }
}